*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#f8cb74;
}
.main{
    max-width: 600px;
    margin-inline: auto auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4px;
}
.box{
    width: 150px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
}
i.fab{
    font-size: 3rem;
    color: #fff;
}
.hidden>i{
    display: none !important;
}
.freez{
    pointer-events: none;
}
.win{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color:#67ec32 ;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    font-size: 100px;
    font-weight: bold;
    color: #fff;
}
