body{
    background-color:#f8cb74;
}
.main{
    max-width: 600px;
    margin-inline: auto auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 4px;
}
.box{
    width: 150px;
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#000;
}
i.fab{
    font-size: 3rem;
    color: #fff;
}
.hidden>i{
    display: none !important;
}
.freez{
    pointer-events: none;
}