@font-face {
    font-family: Shabnam;
    src: url(../font/Shabnam.ttf) format("truetype");
    font-weight: 400
}

body {
    background-color: #2f3041 !important;
    font-family: 'Shabnam', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix, .clearfix::before, .clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    direction: rtl;
}

.calendar-wrapper {
    text-align: left;
    direction: ltr;
    float: right;
    width: 93%;
}

.calendar-base {
    width: 900px;
    height: 568px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #242532 !important;
    border-radius: 5px !important;
    border: 1px solid rgb(0 0 0 / 18%) !important;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset !important;
    color: #fff !important;
}

.months {
    color: #6b6b6b;
    position: relative;
    left: 340px;
    top: 90px;
    word-spacing: 5px;
}

.month-hover.active-season-cr {
    font-weight: bold;
}

.month-hover:hover {
    cursor: pointer;
    color: #d3cccc !important;
}

.month-line {
    border: 1px solid rgb(0 0 0 / 18%) !important;
    position: relative;
    top: 85px;
    width: 57%;
    left: 178px;
}

.days {
    color: #6b6b6b;
    position: relative;
    font-size: 18px;
    left: 14px;
    top: 80px;
    word-spacing: 35px;
    font-weight: 600;
}

.days ul {
    margin: 0;
}

.days ul li {
    background-color: transparent !important;
    height: auto !important;
    word-spacing: -4px;
    font-size: 16px;
}


.num-dates {
    float: right;
    position: relative;
    top: 90px;
    right: 44px;
    z-index: 1;
}

.num-dates ul {
    margin: 0 0 20px 0;
    padding: 0;
}

.num-dates ul li, .days ul li {
    float: right;
    list-style: none;
    text-align: center;
    margin-left: 11px;
    width: 64px;
    font-weight: bold;
}

.num-dates ul li {
    padding: 10px 0;
    cursor: pointer;
    font-size: 22px;
    border-radius: 9px;
    position: relative;
    color: #919191;
    border: 1px solid rgb(0 0 0 / 18%) !important;
    box-shadow: rgb(0 0 0 / 6%) 0 2px 4px 0 inset !important;
}

.num-dates ul li:hover {
    background-color: #d3cccc;
    color: white;
}

.num-dates ul li small {
    position: absolute;
    font-size: 12px;
    font-weight: normal;
    bottom: 2px;
}

.num-dates ul li small#miladi {
    right: 7px;
}

.num-dates ul li small#ghamari {
    left: 7px;
}

.calendar-left {
    width: 300px;
    height: 570px;
    border-radius: 5px 0 0 5px;
    background-color: #2ECC71;
    position: relative;
    z-index: 1;
    bottom: 570px;
    color: white;
}

.active-season {
    background-color: #d3cccc !important;
    color: white !important;
}

.num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    position: relative;
    top: -20px;
}

#introduce {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
    text-decoration: none;
    margin-bottom: 15px;
    background-color: #242532 !important;
    border-radius: 5px !important;
    border: 1px solid rgb(0 0 0 / 18%) !important;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset !important;
    color: #fff !important;
}

.dynamic-element {
    display: none;
}

.active-element {
    display: block;
}


.active-season-bg {
    background-color: #d3cccc !important;
}

.active-season-cr {
    color: #d3cccc !important;
}


.holiday {
    background-color: #f44336;
    color: #fff !important;
}

.holiday:hover {
    background-color: #d3cccc !important;
}

.disable-one {
    opacity: 0.3;
}

.year {
    color: #d3cccc;
    font-size: 30px;
    float: right;
    position: relative;
    right: 45px;
    top: 30px;
    font-weight: bold;
}

.year-meta {
    position: absolute;
    left: 335px;
    top: 25px;
    color: #d3cccc;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #E8E8E8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
}

.triangle-left:hover {
    border-right: 10px solid #2ECC71;
}

.triangle-right:hover {
    border-left: 10px solid #2ECC71;
}

.month-color {
    color: #27AE60;
}


.active-day {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #2ECC71;
    position: relative;
    top: 295px;
    left: 661px;
}

.white {
    color: white;
}

.event-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980B9;
    position: relative;
    top: 304px;
    left: 695px;
}

.two {
    position: relative;
    top: 168px;
    left: 535px;
}

.grey {
    color: #AAAAB1;
}


.hamburger {
    position: relative;
    top: 25px;
    left: 25px;
}

.burger-line:hover, .hamburger:hover {
    background-color: #27e879 !important;
}

.burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
}


.day {
    width: 50%;
    margin: 0 auto;
    font-size: 30px;
    position: relative;
    bottom: 77px;
    text-align: center;
}

.current-events {
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    bottom: 30px;
}

.posts {
    text-decoration: underline dotted;
}

.posts:hover {
    color: #27e879 !important;
}

.events-list {
    direction: rtl;
    float: right;
    position: relative;
    top: -83px;
    width: 93%;
    height: 377px;
    overflow-y: scroll;
    text-align: right;
    background-color: #242532 !important;
    border: 1px solid rgb(0 0 0 / 18%) !important;
    right: 5px;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset !important;
    padding: 5px 5px;
}

.events-list li {
    margin-bottom: 6px;
    font-size: 14px;
}

.events-list li span.event-day {
    font-weight: bold;
}

.events-list li div.event-title {
    display: inline-block;
    margin-left: 3px;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {

    background-color: #2f3041 !important;
    border: 1px solid rgb(0 0 0 / 18%) !important;
    box-shadow: rgb(0 0 0 / 6%) 0 2px 4px 0 inset !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #1b1c26 !important;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #242532 !important;
}
