*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cir{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    margin-top:100px;
    margin-inline:auto;
    position: relative;
    animation-name: round;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.line{
    position: absolute;
    width: 200px;
    background-color: aqua;
    z-index: -1;
}
.line:nth-child(1){
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.line:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
}
.line:nth-child(3){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}
.line:nth-child(4){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}
.line:nth-child(5){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(22.5deg);
}
.line:nth-child(6){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(67.5deg);
}
.line:nth-child(7){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(112.5deg);
}
.line:nth-child(8){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(157.5deg);
}
.test{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: brown;
    position: absolute;
}
.test:nth-child(9){
    top: 135%;
    left: 40%;
}
.test:nth-child(10){
    top: 125%;
    left: 4%;
}
.test:nth-child(11){
    top: 105%;
    left: -25%;
}
.test:nth-child(12){
    top: 80%;
    left: -50%;
}
.test:nth-child(13){
    top: 80%;
    left: -50%;
}
.test:nth-child(14){
    top: 40%;
    left: -60%;
}
.test:nth-child(15){
    top:130%;
    left: 77%;
}
.test:nth-child(16){
    top:0%;
    left:-60%;
}
.test:nth-child(17){
    top:-35%;
    left:-35%;
}
.test:nth-child(18){
    top:-59%;
    left:0%;
}
.test:nth-child(19){
    top:-62%;
    left:40%;
}
.test:nth-child(20){
    top:-58%;
    left:80%;
}
.test:nth-child(21){
    top:-36%;
    left:118%;
}
.test:nth-child(22){
    top:0%;
    left:140%;
}
.test:nth-child(23){
    top:40%;
    left:140%;
}
.test:nth-child(24){
    top:80%;
    left:135%;
}
.test:nth-child(25){
    top:117%;
    left:120%;
}
@keyframes round {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }