*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .cir{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
    margin-top:100px;
    margin-inline:auto;
    position: relative;
    animation-name: round;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.line{
    position: absolute;
    width: 200px;
    background-color: aqua;
    z-index: -2;
}
.line:nth-child(1){
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
.line:nth-child(2){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(90deg);
}
.line:nth-child(3){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
}
.line:nth-child(4){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}
.line:nth-child(5){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(22.5deg);
}
.line:nth-child(6){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(67.5deg);
}
.line:nth-child(7){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(112.5deg);
}
.line:nth-child(8){
    top: 50%;
    left: 50%;
    transform: translate(-50%) rotate(157.5deg);
}
.work-todo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: brown;
    position: absolute;
}
.work-todo:nth-child(9){
    top: 140%;
    left: 40%;
}
.work-todo:nth-child(10){
    top: 132%;
    left: 2%;
}
.work-todo:nth-child(11){
    top: 110%;
    left: -30%;
}
.work-todo:nth-child(12){
    top: 110%;
    left: 111%;
}
.work-todo:nth-child(13){
    top: 80%;
    left: -51%;
}
.work-todo:nth-child(14){
    top: 40%;
    left: -60%;
}
.work-todo:nth-child(15){
    top:132%;
    left: 79%;
}
.work-todo:nth-child(16){
    top:0%;
    left:-52%;
}
.work-todo:nth-child(17){
    top:-31%;
    left:-31%;
}
.work-todo:nth-child(18){
    top:-52%;
    left:2%;
}
.work-todo:nth-child(19){
    top:-60%;
    left:40%;
}
.work-todo:nth-child(20){
    top:-52%;
    left:79%;
}
.work-todo:nth-child(21){
    top:-29%;
    left:112%;
}
.work-todo:nth-child(22){
    top:4%;
    left:133%;
}
.work-todo:nth-child(23){
    top:40%;
    left:140%;
}
.work-todo:nth-child(24){
    top:80%;
    left:132%;
}
@keyframes round {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.formi{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: blueviolet;
    opacity: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */
 .header{
    max-width: 1280px;
    background-color: rgb(24, 24, 24);
    display: flex;
    margin-inline:auto ;
    padding: 12px 12px;
    align-items: center;
    gap: 40px;
 }
.title{
    color: antiquewhite;
    font-size: xx-large;
}
.text-todo{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    height: 20vh;
    padding:0 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize:none;
}
.text-todo::-webkit-scrollbar{
    display: none;
}
